a.entry {
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    width: 12em;
    height: 51px;
    margin: 10px;
    text-align: center;
    vertical-align: bottom;
    float: left;
}

a.entry:link,
a.entry:visited {
    text-decoration: none;
    background-color: rgba(100, 100, 200, .7);
    color: black;
}

a.entry:hover,
a.entry:active {
    background-color: rgba(100, 100, 200, .5);
    color: black;
}